.main-nav {
  height: 70px;
  background-color: silver;
  display: flex;
  justify-content: space-between;
}

.nav-header {
	background-color: #d90429;
	box-sizing: border-box;
  height: inherit;
  display: flex;
  align-items: center;
  user-select: none;
}

.header-text {
	color: #ffffff;
	font-family: AlexBrush;
  font-size: 30px;
  margin: 0 25px;
  padding: 0 15px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.nav-link {
  margin: 0;
  display: flex;
}

.nav-link a {
  display: flex;
  height: 100%;
  padding: 0 18px;
  align-items: center;
  text-decoration: none;
  color: #2b2d42;
}