.main-nav {
  height: 57px;
  /* background-color: silver; */
  display: flex;
  justify-content: space-between;
}

.nav-header {
	background-color: #d90429;
	box-sizing: border-box;
  height: inherit;
  display: flex;
  align-items: center;
  user-select: none;
}

.header-text {
	color: #ffffff;
	font-family: AlexBrush;
  font-size: 30px;
  margin: 0 25px;
  padding: 0 15px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.nav-link {
  margin: 0;
  display: flex;
}

.nav-link a {
  display: flex;
  height: 100%;
  padding: 0 18px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1.2px;
}

.nav-link a:hover{
  border-bottom: 2.5px solid #d90429;
}

.nav-link-login{
  color: #8d99ae;
}

.nav-link-login:hover{
  color: #2b2d42;
}

.nav-link-signup{
  color: #d90429;;
}